*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: lato, sans-serif;
  font-weight: 400;
  font-size: 6rem;
  line-height: 1.7;
  color: #54483a;
  padding: 3rem;
  box-sizing: border-box; }
